
<div>
  <div class="os-center-box">
    <i ui-sref="login" class="glyphicon glyphicon-remove-circle"></i>
    <h3 ng-if="response.status != 'ok'" class="os-section-title" translate="forgot_password.title">Forgot password</h3>
    
    <div class="os-response-message" ng-if="response.status">
      {{response.message | translate:{loginName: user.loginName} }}
      <a ng-click="sendPasswordResetLink()" translate="forgot_password.resend_link"> Resend the link </a>
    </div>
    <div ng-if="response.status != 'ok'">
      <form ng-submit="sendPasswordResetLink()">
        <div class="form-group">
          <span translate="forgot_password.enter_email_id"> Enter your e-mail id used at the time of registration</span>
          <input type="text" required class="form-control" ng-model="user.loginName" 
            placeholder="{{'user.login_name' | translate}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary os-btn-login pull-right" translate="forgot_password.submit">
            Submit
          </button>
          <i class="icon icon-icons-arrow pull-right"></i>
        </div>
      </form>
      <span class="footer" translate="forgot_password.message">
        If you do not remember your email-id, contact the admin on admin@admin.com
      </span>
    </div>
  </div>
</div>

