<div>
  <div class="os-center-box">
    <h3 class="os-section-title" translate="forgot_password.title">Forgot password</h3>
    
    <div class="os-response-message" ng-if="response.status">
      {{response.message | translate:{loginName: user.loginName} }}
      <br/>
      <a class="os-link" ui-sref="login" translate="forgot_password.back_to_sign_in"> Back to Sign in </a>
    </div>
    <div ng-if="response.status != 'ok'">
      <form ng-submit="sendPasswordResetLink()">
        <div class="form-group">
          <span translate="forgot_password.enter_email_id">Enter your username used at the time of registration</span>
          <input type="text" required class="form-control" ng-model="user.loginName" 
            placeholder="{{'user.login_name' | translate}}" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right">
            <span translate="forgot_password.submit"> Submit </span>
            <span class="os-icon os-icon-right-arrow"></span>
          </button>
        </div>
      </form>
      <a class="os-link" ui-sref="login" translate="forgot_password.back_to_sign_in"> Back to Sign in </a>
    </div>
  </div>
</div>

