<div>
  <div class="os-custom-banner">
    <div style="height: 30px;"></div>
    <div class="logo os-login-logo">
      <img src="images/os_logo_large.png"></img>
    </div>
  </div>

  <div class="os-login-form-container">
    <h3 translate="user.sign_in_title" class="os-login-header">
      Log in to your account
    </h3>
    <form ng-submit="login()">
      <i class="icon icon-icons-username"></i>
      <input type="text" class="form-control" ng-model="loginData.loginName" placeholder="{{'user.login_name' | translate}}"> 
      <i class="icon icon-icons-password"></i>
      <input type="password" class="form-control password" ng-model="loginData.password" placeholder="{{'user.password' | translate}}">
      <div ng-if="domains.length > 1">
        <os-select ng-model="loginData.domainName" list="domains" name="domain" placeholder="{{'user.domain_name' | translate}}">
        </os-select>
      </div>
      <div class="os-login-footer-link">
        <table style="width: 100%;">
          <tr style="border-bottom: none !important;">
            <td>
              <input checked data-toggle="toggle" data-style="ios" type="checkbox" os-toggle="{ on: ' ', off: ' '}">
            </td>
            <td style="padding-bottom: 5px; font-size: 16pt;">
              Keep me logged in
            </td>
            <td style="padding-right: 0px;">
              <button type="submit" class="btn btn-block btn-primary os-btn-login" translate="user.sign_in" style="display: inline-block;">Log In</button>
              <i class="icon icon-icons-arrow"></i>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2" style="padding-bottom: 25px;">
              <span translate="user.forgot_password">FORGOT PASSWORD?</span> Click
              <a class="os-forgot-password-link" ui-sref="forgot-password" translate="user.here">here</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="os-sign-up-label">
              To explore the features
            </td>
            <td><a class="btn btn-block btn-primary os-btn-login" ui-sref="sign-up">Sign up</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="os-compay-info">
        OpenSpecimen is an open source biobanking software <br />
        developed by Krishagni Solutions on top of NCI <br />
        caTissue. For more details visit <br />
        <a href="http://www.openspecimen.org" class="os-footer-links" target="_blank">www.openspecimen.org</a> or mail us at <br />
        <span class="os-footer-links">support@krishagni.com</span>
      </div>
    </form>
  </div>

    <!-- <div class="os-center-box">
    <img class="os-rounded-img" src="images/profile-user.png" />
    <form ng-submit="login()">
      <div class="os-group-controls">
        <input type="text"     class="form-control" ng-model="loginData.loginName" placeholder="{{'user.login_name' | translate}}">
        <input type="password" class="form-control" ng-model="loginData.password"  placeholder="{{'user.password' | translate}}">
        <div ng-if="domains.length > 1">
          <os-select ng-model="loginData.domainName" list="domains" name="domain"
            placeholder="{{'user.domain_name' | translate}}">
          </os-select>
    </div>
      </div>
      <span class="os-error-msg" ng-if="loginError" translate="user.sign_in_failed">The username or password you entered is incorrect</span>
      <button type="submit" class="btn btn-block btn-primary" translate="user.sign_in">Sign in</button>
      <div style="padding-top: 5px;">
        <a ui-sref="forgot-password" translate="user.forgot_password">Forgot password?</a>
      </div>
    </form>
  </div> -->
</div>

