<div>
  <div os-page-header>
    <h3 translate="cp.list">Collection Protocols</h3>
    <div class="os-btns right">
      <div dropdown class="inline">
        <button show-if-allowed="cpResource.createOpts" class="primary dropdown-toggle" title="Click to add new Collection Protocol"
          ui-sref="cp-addedit({cpId: ''})">
          <span translate="common.buttons.create">Create</span>
          <span class="fa fa-plus"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a ui-sref="cp-addedit">
              <span class="fa fa-plus"></span>
              <span translate="common.buttons.create">Create</span>
            </a>
          </li>
          <li>
            <a ui-sref="cp-import">
              <span class="os-icon os-icon-import"></span>
              <span translate="common.buttons.import">Import</span>
            </a>
          </li>
        </ul>
      </div>
      <div dropdown class="inline">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.import">Import</span>
          <span class="os-icon os-icon-import"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'cpr'})">
              <span class="os-icon os-icon-register-participant"></span>
              <span translate="participant.registrations">Participant Registrations</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'participant'})">
              <span class="os-icon os-icon-participant-update"></span>
              <span translate="participant.part_updates">Participant Updates</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'extensions', entityType: 'Participant'})">
              <span class="os-icon os-icon-participant-forms"></span>
              <span translate="participant.part_extensions">Participant Forms</span>
            </a>
          </li>
          <li class="os-divider"></li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'visit'})">
              <span class="os-icon os-icon-visits"></span>
              <span translate="visits.list">Visits</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'extensions', entityType: 'SpecimenCollectionGroup'})">
              <span class="os-icon os-icon-visit-forms"></span>
              <span translate="visits.visit_extensions">Visit Forms</span>
            </a>
          </li>
          <li class="os-divider"></li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'specimen'})">
              <span class="os-icon os-icon-specimens"></span>
              <span translate="specimens.list">Specimens</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'specimenDerivative'})">
              <span class="os-icon os-icon-derivatives"></span>
              <span translate="specimens.spmn_derivatives">Specimen Derivatives</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'specimenAliquot'})">
              <span class="os-icon os-icon-aliquots"></span>
              <span translate="specimens.spmn_aliquots">Specimen Aliquots</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'extensions', entityType: 'Specimen'})">
              <span class="os-icon os-icon-specimen-forms"></span>
              <span translate="specimens.spmn_extensions">Specimen Forms</span>
            </a>
          </li>
          <li>
            <a ui-sref="import-biospecimen-objs({objectType: 'extensions', entityType: 'SpecimenEvent'})">
              <span class="os-icon os-icon-specimen-events"></span>
              <span translate="specimens.spmn_events">Specimen Events</span>
            </a>
          </li>
          <li class="os-divider"></li>
          <li>
            <a ui-sref="biospecimen-obj-import-jobs">
              <span class="os-icon os-icon-view-jobs"></span>
              <span translate="common.view_jobs">View Jobs</span>
            </a>
          </li>
        </ul>
      </div>

      <os-plugin-hooks view-name="'cp-list'" sec-name="'page-header'"></os-plugin-hooks>

      <button class="default" os-right-drawer-toggle title="{{'cp.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
   
  <div class="os-cards">
    <div class="os-card" ng-repeat="cp in cpList" ng-click="showParticipants(cp)">
      <h4 title="{{'cp.tooltip.view_details' | translate}}">
        <a ui-sref="cp-detail.overview({cpId: cp.id})" ng-click="$event.stopPropagation()">
          {{cp.shortTitle}}
        </a>
      </h4>
      <h5>{{cp.principalInvestigator.firstName}} {{cp.principalInvestigator.lastName}}</h5>
      <p>{{cp.startDate | date: global.dateFmt}}</p>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'cp.tooltip.reg_participants_count' | translate}}">
          <span class="os-icon os-int-user-count"></span>
          <span>{{cp.participantCount | number: 0}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'cp.tooltip.collected_specimens_count' | translate}}">
          <span class="os-icon os-int-specimen-count"></span>
          <span>{{cp.specimenCount | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer ng-include="'modules/biospecimen/cp/search.html'"></div>
</div>
