<div> 
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> 
        <a ui-sref="cp-detail.overview({cpId: cpr.cpId})">
          {{cpr.cpShortTitle}}
        </a> 
      </li>
      <li>
        <a ui-sref="participant-detail.overview({cprId: cpr.id})">
          <span>{{cpr.ppid}}</span>
        </a>
      </li>
      <li>
        <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
          <span>T{{visit.eventPoint}}: {{visit.eventLabel}}</span>
        </a>
      </li>
    </ul>
  
    <h3 ng-switch on="!!specimen.label">
      <span ng-switch-when="true">{{specimen.label}}</span>
      <span ng-switch-default>{{specimen.type}} ({{specimen.specimenClass}})</span>
    </h3>

    <span class="os-status-closed" ng-if="specimen.activityStatus == 'Closed'" translate="specimens.closed">
      Closed
    </span>

    <div class="os-btns right">
      <button show-if-allowed="specimenResource.updateOpts" class="primary" ui-sref="specimen-addedit"
        ng-if="!!visit.id && (!specimen.activityStatus || specimen.activityStatus == 'Active')"
        ng-switch on="!!specimen.id"> 
        <span ng-switch-when="true">
          <span translate="common.buttons.edit">Edit</span>
          <span class="os-icon os-icon-edit"></span>
        </span>
        <span ng-switch-default>
          <span translate="specimens.buttons.collect">Collect</span>
          <span class="fa fa-plus"></span>
        </span>
      </button>
      
      <div dropdown class="inline" os-show-if-items>
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="os-icon os-icon-dropdown-arrow"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li show-if-allowed="specimenResource.updateOpts" 
            ng-if="specimen.activityStatus == 'Active' && specimen.status == 'Collected'">
            <a ng-click="closeSpecimen()">
              <span class="fa fa-close"></span>
              <span translate="specimens.buttons.close">Close</span>
            </a>
          </li>
          <li show-if-allowed="specimenResource.updateOpts" ng-if="specimen.activityStatus == 'Closed'">
            <a ng-click="reopen()">
              <span class="fa fa-check"></span>
              <span translate="specimens.buttons.reopen">Reopen</span>
            </a>
          </li>
          <li show-if-allowed="specimenResource.deleteOpts" ng-if="!!specimen.id">
            <a ng-click="deleteSpecimen()">
              <span class="os-icon os-icon-delete"></span>
              <span translate="common.buttons.delete">Delete</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div os-side-menu>
    <ul>
      <li ui-sref-active="active">
        <a ui-sref=".overview"> 
          <span class="os-icon os-icon-overview"></span>
          <span class="os-title" translate="specimens.menu.overview">Overview</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="!!specimen.id">
        <a ui-sref=".extensions.list">
          <span class="os-icon os-icon-forms"></span>
          <span class="os-title" translate="specimens.menu.extensions">Forms</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="!!specimen.id">
        <a ui-sref=".events">
          <span class="os-icon os-icon-specimen-events"></span>
          <span class="os-title">Events</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="os-side-menu-page-content" ui-view></div>
</div>

