<div>
  <div class="os-navbar os-navbar-default os-navbar-docked">
    <a class="logo" href="#"><img src="images/os_logo_large.png" class="os-navbar-logo"></img></a>
    <!-- div class="search">
      <input type="text" class="form-control" placeholder="Quick Search"></input>
      <button class="btn btn-primary">
        <span class="fa fa-search"></span>
      </button>
    </div -->
    <ul class="menu">
      <li class="dropdown">
        | <a class="dropdown-toggle">
          <span class="icon icon-icons-home"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a>{{currentUser.lastName + ' ' + currentUser.firstName}}</a></li>
          <li class="divider"></li>
          <li><a ui-sref="user-password({userId: currentUser.id})" translate="user.change_password.change_password">Change Password</a></li>
          <li class="divider"></li>
          <li><a ui-sref="login({logout:true})"  translate="user.logout">Log Out</a></li>
        </ul>
      </li>
      <li> |
        <a class="os-notification-content">
          <span class="icon icon-icons-notifications"></span>
          <span class="os-notification-count">07</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon icon-icons-settings"></span>
        </a>
      </li>
    </ul>
  </div>
  <img src="images/os_gradient_nav_bar.jpg" class="os-header-gradient" />
  <img src="images/os_gradient_nav_bar.jpg" class="os-navbar-gradient" />
  <div>
    <div class="os-alert-container" ng-if="alerts.length > 0">
      <alert type="{{alert.type}}" ng-repeat="alert in alerts">{{alert.text}}</alert>
    </div>
    <div>
      <div os-nav-drawer>
        <img src="images/os_gradient_nav_bar.jpg" class="os-navigation-gradient" />
        <ul role="menu" style="margin-bottom: 25px;">
          <li show-if-allowed="cpReadOpts">
            <a ui-sref="cp-list">
              <span class="icon navigation-icons-collection-protocol"></span>
              <span translate="menu.collection_protocols" class="os-navbar-content-text">Collection Protocols</span>
            </a>
          </li>
           <li show-if-admin>
            <a ui-sref="dp-list">
              <span class="icon navigation-icons-distribution-protocol"></span>
              <span translate="menu.distribution_protocols" class="os-navbar-content-text">Distribution Protocols</span>
            </a>
          </li>
          <li>
            <a ui-sref="institute-list">
              <span class="icon navigation-icons-institutes"></span>
              <span translate="menu.institutes" class="os-navbar-content-text">Institutes</span>
            </a>
          </li>
          <li>
            <a ui-sref="user-list">
              <span class="icon navigation-icons-users"></span>
              <span translate="menu.users" class="os-navbar-content-text">Users</span>
            </a>
          </li>
          <li show-if-allowed="userCreateUpdateOpts">
            <a ui-sref="role-list">
              <span class="icon navigation-icons-roles"></span>
              <span translate="menu.roles" class="os-navbar-content-text">Roles</span>
            </a>
          </li>
          <li>
            <a ui-sref="site-list">
              <span class="icon navigation-icons-sites"></span>
              <span translate="menu.sites" class="os-navbar-content-text">Sites</span>
            </a>
          </li>
          <li show-if-allowed="containerReadOpts">
            <a ui-sref="container-list" >
              <span class="icon navigation-icons-storage"></span>
              <span translate="menu.containers" class="os-navbar-content-text">Storage Containers</span>
            </a>
          </li>
          <li>
            <a ui-sref="query-list" >
              <span class="icon navigation-icons-queries"></span>
              <span translate="menu.queries" class="os-navbar-content-text">Queries</span>
            </a>
          </li>
          
          <li>
            <a ui-sref="specimen-list">
              <span class="icon navigation-icons-specimen-list"></span>
              <span translate="menu.specimen_lists" class="os-navbar-content-text">Specimen Lists</span>
            </a>
          </li>
          <li>
            <a ui-sref="form-list" >
              <span class="icon navigation-icons-forms"></span>
              <span translate="menu.forms" class="os-navbar-content-text">Forms</span>
            </a>
          </li>
          <li show-if-allowed="orderReadOpts">
            <a ui-sref="order-list" >
              <span class="icon navigation-icons-distribution-order"></span>
              <span translate="menu.distribution_orders" class="os-navbar-content-text">Distribution Orders</span>
            </a>
          </li>
          <!-- li><a href="#" translate="menu.settings">Settings</a></li -->
        </ul>
        <div ui-sref="home" class="os-home-nav">
          <a class="os-center"><span class="icon icon-icons-home"></span></a>
        </div>
      </div>
      <div>
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>

