
<div>
  <div class="os-modal-header">
    <span translate="user.send_mail_title">Your Message</span>
  </div>
  <div class="os-modal-body">
    <div class="os-alert-container show">
      <div class="alert alert-info">
        <span translate="user.send_mail_info">
        Please type the subject of mail and the content of the mail in the message box
        </span>
      </div>
    </div>
    
    <form name="sendMailForm" os-form-validator="sendMailForm" novalidate>
      <div class="form-group">
        <label translate="user.mail_subject">Subject</label>
        <input type="text" name="subject" class="form-control" placeholder="{{'user.mail_subject' | translate}}"
          ng-model="sendMail.subject" required></input>
        <div os-field-error field="sendMailForm.subject"></div>
      </div>
      <div class="form-group">
        <label translate="user.message_box">Message</label>
        <textarea rows="3" name="sendmail" class="form-control" placeholder="{{'user.message' | translate}}"
          ng-model="sendmail.message" required></textarea>
        <div os-field-error field="sendMailForm.feedback"></div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" os-form-submit="submit()">
          <span translate="common.buttons.submit">Submit</span>
        </button>
        <button class="btn os-btn-text" os-form-cancel="cancel()">
          <span translate="common.buttons.cancel">Cancel</span>
        </button>
      </div>
    </form>
  </div>
</div>

