.os-breadcrumbs {
  list-style-type: none;
  padding-left: 0px;
  flex: none;
  font-family: "Cambria";
  font-weight: bold;
  font-size: 15px;
}

.os-breadcrumbs.hover .collapsed {
  display: none;
}

.os-breadcrumbs.hover .show-on-hover {
  display: inline-block;
}

.os-breadcrumbs .show-on-hover {
  display: none;
}

.os-breadcrumbs a {
  color: #41464C !important;
}

.os-breadcrumbs.hover > li.collapsed + li:before {
  display: none;
}

.os-breadcrumbs > li:after {
  content: '>';
  color: #41464c;
  padding: 0px 10px;
}

.os-breadcrumbs a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.os-breadcrumbs > li {
  display: inline-block;
  margin-top: 13px;
}

.os-breadcrumbs h3 {
  margin-right: 10px !important;
}
