.os-breadcrumbs {
  position: relative;
  bottom: 8px; 
  list-style-type: none;
  padding-left: 0px;
}

.os-breadcrumbs.hover .collapsed {
  display: none;
}

.os-breadcrumbs.hover .show-on-hover {
  display: inline-block;
}

.os-breadcrumbs .show-on-hover {
  display: none;
}

.os-breadcrumbs a {
  color: #44494D !important;
  font-family: "Cambria";
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: -5px;
}

.os-breadcrumbs.hover > li.collapsed + li:before {
  display: none;
}

.os-breadcrumbs > li:after {
  content: '>';
  color: #41464c;
  position: relative;
  bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 10px;
}

.os-breadcrumbs a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.os-breadcrumbs {
  margin: 10px 0px 0px;
}

.os-page-hdr .os-breadcrumbs {
  margin: 0px;
}

.os-breadcrumbs > li {
  display: inline-block;
}

.os-breadcrumbs h3 {
  margin-right: 10px !important;
}
