@font-face {
  font-family: "os-generic-icons";
  src:url("../fonts/os-generic-icons.eot");
  src:url("../fonts/os-generic-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/os-generic-icons.woff") format("woff"),
    url("../fonts/os-generic-icons.ttf") format("truetype"),
    url("../fonts/os-generic-icons.svg#openspecimen-generic-fonticons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "os-generic-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="os-icon-"]:before,
[class*=" os-icon-"]:before {
  font-family: "os-generic-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.os-icon-username:before {
  content: "a";
}

.os-icon-create:before {
  content: "b";
}

.os-icon-checkbox-checked:before {
  content: "c";
}

.os-icon-repeat-visits:before {
  content: "d";
}

.os-icon-help:before {
  content: "e";
}

.os-icon-info:before {
  content: "f";
}

.os-icon-expand-row:before {
  content: "g";
}

.os-icon-checkbox-unchecked:before {
  content: "h";
}

.os-icon-search:before {
  content: "i";
}

.os-icon-password:before {
  content: "j";
}

.os-icon-close:before {
  content: "k";
}

.os-icon-left-arrow:before {
  content: "l";
}

.os-icon-right-arrow:before {
  content: "m";
}

.os-icon-separator:before {
  content: "n";
}

.os-icon-home:before {
  content: "o";
}

.os-icon-settings:before {
  content: "p";
}

.os-icon-show-nav-menu:before {
  content: "q";
}

.os-icon-hide-nav-menu:before {
  content: "r";
}

.os-icon-dropdown-arrow:before {
  content: "s";
}

.os-icon-import:before {
  content: "t";
}

.os-icon-export:before {
  content: "u";
}

.os-icon-view-jobs:before {
  content: "v";
}

.os-icon-specimen-events:before {
  content: "w";
}

.os-icon-specimen-forms:before {
  content: "x";
}

.os-icon-aliquots:before {
  content: "y";
}

.os-icon-derivatives:before {
  content: "z";
}

.os-icon-visit-forms:before {
  content: "A";

}
.os-icon-visits:before {
  content: "B";
}

.os-icon-participant-forms:before {
  content: "C";
}

.os-icon-participant-update:before {
  content: "D";
}

.os-icon-register-participant:before {
  content: "E";
}

.os-icon-calendar:before {
  content: "F";
}

.os-icon-edit:before {
  content: "G";
}

.os-icon-delete:before {
  content: "H";
}

.os-icon-locations:before {
  content: "I";
}

.os-icon-overview:before {
  content: "J";
}

.os-icon-forms:before {
  content: "K";
}

.os-icon-specimens:before {
  content: "L";
}

.os-icon-save:before {
  content: "M";
}

.os-icon-print:before {
  content: "N";
}

.os-icon-radio-checked:before {
  content: "O";
}

.os-icon-status-okay:before {
  content: "P";
}

.os-icon-status-closed:before {
  content: "Q";
}

.os-icon-refresh:before {
  content: "R";
}

.os-icon-assign-position:before {
  content: "S";
}

.os-icon-filter:before {
  content: "T";
}

.os-icon-upload:before {
  content: "U";
}

.os-icon-radio-unchecked:before {
  content: "V";
}

.os-icon-warning:before {
  content: "W";
}

.os-icon-assign-to:before {
  content: "X";
}

.os-icon-lock:before {
  content: "Y";
}

.os-icon-horizontal-bars:before {
  content: "Z";
}

.os-icon-read:before {
  content: "1";
}

.os-icon-reopen:before {
  content: "2";
}

.os-icon-replicate:before {
  content: "3";

}
.os-icon-browse:before {
  content: "4";
}

.os-icon-collect-specimen:before {
  content: "5";
}

.os-icon-unlock:before {
  content: "6";
}

.os-icon-consent:before {
  content: "7";
}

.os-icon-colour-coding:before {
  content: "8";
}
