.os-nav-drawer, .os-nav-drawer-overlay {
  position: absolute;
  height: auto;
  top: 113px;
  bottom: 0;
}

.os-nav-drawer {
  background: white;
  left: 0;
  width: 265px;
  height: 490px;
  z-index: 5;
  transform: translate(-265px, 0);
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.os-nav-drawer-overlay {
  display: none;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 1;
}

.os-nav-drawer.active {
  transform: translate(0, 0);
}
  
.os-nav-drawer.active + .os-nav-drawer-overlay {
  display: block;
}

.os-nav-drawer ul.os-menu-items {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  position: absolute;
  top: 10px;
  bottom: 0px;
  height: auto;
  width: 100%;
  margin-bottom: 28px;
  background: #FFFFFF;
}

.os-nav-drawer .os-menu-items > li {
  border-bottom: #e3e3e3 solid 1px;
  height: 40px;
}

.os-nav-drawer .os-menu-items > li.divider {
  border-bottom: 1px solid #ddd;
  padding: 0px;
}

.os-nav-drawer .os-menu-items > li > a {
  text-decoration: none;
  padding: 0px 12px;
  width: 100%;
  display: block;
  color: #2B2D2E;
}

.os-nav-drawer .os-menu-items > li > a:hover {
  background: #44C1DF;
  color: #FBFAF5;
}

.os-menu-items > li.active {
  background: #44C1DF;
  color: #FBFAF5;
}

.os-nav-drawer .os-page-hdr { 
  margin-bottom: 0px;
  position: relative;
  top: 0px;
}

.os-page-hdr .os-nav-button {
  background: #ecece8;
  padding-left: 8px;
  padding-top: 4px;
  height: 38px;
  width: 40px;
  font-size: 16px;
  flex: none;
}

.os-nav-button.active {
  transform: scale(-1, 1);
}

.os-menu-items .icon {
  color: #747474;
  font-size: 28px;
  position: relative;
  top: 4px;
}

.os-navbar-gradient {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 110px;
  z-index: 1;
}

.os-navbar-logo {
  height: 50px;
  margin-top: 10px;
}

.os-navbar-content-text {
  padding-left: 20px;
  color: #41464c;
  font-family: "Roboto-Medium";
  font-size: 14px !important;
  margin-top: 10px !important;
  position: absolute !important;
}

.os-home-nav {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  text-align: center;
  border-top: #c7c7c7 solid 2px;
  background: #FBFAF5 !important;
  cursor: pointer;
}

.os-home-nav a {
  position: relative;
  top: 6px;
  font-size: 15px;
  color: #41464c;
  text-decoration: none;
}

.os-navigation-gradient {
  position: absolute;
  height: 10px;
  width: 100vw;
}
