@charset "UTF-8";

@font-face {
  font-family: "openspecimen-internal-interface-icons";
  src: url("../fonts/openspecimen-fonticons-internal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "openspecimen-internal-interface-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="internal-icon-"]:before,
[class*=" internal-icon-"]:before {
  font-family: "openspecimen-internal-interface-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.internal-icon-icons-container-dimensions:before {
  content: "a";
}
.internal-icon-icons-count-of-completed-visits:before {
  content: "b";
}
.internal-icon-icons-count-of-free-locations:before {
  content: "c";
}
.internal-icon-icons-institute-deparments:before {
  content: "d";
}
.internal-icon-icons-participant-count:before {
  content: "e";
}
.internal-icon-icons-specimen-count:before {
  content: "f";
}
.internal-icon-icons-user-since:before {
  content: "g";
}
.internal-icon-icons-collection-protocol-count:before {
  content: "h";
}
.internal-icon-icons-distribution-protocol-count:before {
  content: "i";
}
.internal-icon-icons-user-count:before {
  content: "j";
}
