@charset "UTF-8";

@font-face {
  font-family: "openspecimen-main-navigation-icons";
  src: url("../fonts/openspecimen-fonticons-navigation-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "openspecimen-main-navigation-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="navigation-icons-"]:before,
[class*=" navigation-icons-"]:before {
  font-family: "openspecimen-main-navigation-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-icons-collection-protocol:before {
  content: "a";
}
.navigation-icons-users:before {
  content: "b";
}
.navigation-icons-distribution-protocol:before {
  content: "c";
}
.navigation-icons-forms:before {
  content: "d";
}
.navigation-icons-institutes:before {
  content: "e";
}
.navigation-icons-jobs:before {
  content: "f";
}
.navigation-icons-queries:before {
  content: "g";
}
.navigation-icons-reports:before {
  content: "h";
}
.navigation-icons-roles:before {
  content: "i";
}
.navigation-icons-settings:before {
  content: "j";
}
.navigation-icons-sites:before {
  content: "k";
}
.navigation-icons-specimen-list:before {
  content: "l";
}
.navigation-icons-distribution-order:before {
  content: "m";
}
.navigation-icons-storage:before {
  content: "n";
}
