.os-right-drawer {
  position: absolute;
  background: #ffffff;
  border: 1px solid #dededc;
  bottom: 0;
  right: 0;
  width: 22%;
  /* top: 114px; */
  top: 112px;
  transform: scaleX(0.00001);
  transform-origin:100% 50%;
  transition: all 0.25s ease-in-out 0s;
  display: none;
  overflow: auto;
}

.os-right-drawer.active {
  transform: scaleX(1);
  display: block;
}

.os-right-drawer .os-head {
  height: 35px;
  background-color: #909090;
  color: #fbfaf5;
  margin: 0px;
}

.os-head .os-title {
  margin-top: 0px ;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}

.os-right-drawer .os-body {
  margin: 20px;
}

.os-right-drawer .control-label {
  color: #666666!important;
  margin-bottom: 0px;
}

.os-right-drawer .os-md-input input,
.os-right-drawer .os-md-input .ui-select-match,
.os-right-drawer .os-md-input .ui-select-search {
  background: transparent;
  margin-top: 5px;
}

.os-right-drawer .os-md-input input:focus,
.os-right-drawer .os-md-input button.ui-select-match:focus,
.os-right-drawer .os-md-input .ui-select-match:hover {
  background: transparent !important;
}

/** bootstrap forms css override **/

.os-body .form-group {
  margin-bottom: 20px;
}

