@CHARSET "UTF-8";

.os-login-form {
  width: 360px;
  padding-left: 20px;
}

.os-login-form hr {
  border-top: 1px dotted #41464C;
  margin-top: 10px;
  margin-bottom: 10px;
}

.os-login-gradient {
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #985292, #3C8FB7, #2C9DAB, #419A6C); 
}

.os-login-form .os-icon-username, 
.os-login-form .os-icon-password {
  font-size: 19px;
  position: relative;
  top: 42px;
  margin-left: 10px;
}

.os-login-form .form-control {
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 40px;
}

.os-login-form .os-actions {
  margin-top: 20px;
  font-size: 16px;
}

.os-login-form .os-actions .btn .os-icon-right-arrow {
  position: relative;
  top: 3px;
  font-size: 16px;
  color: #FFFEF2;
}

.os-login-form .os-actions div {
  margin-top: 10px;
}

.os-footer-banner {
  width:100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #985292, #3C8FB7, #2C9DAB, #419A6C); 
}
