
.os-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: table;
}

.os-table .row {
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
}

.os-table .row .col.os-vertical-divider {
  padding: 0% 2% !important;
}

.os-table .row .col.os-vertical-divider > div {
  display: block;
  height: 37px;
  border-left: 1px solid #FFFFFF;
}

.os-table .row .col.os-vertical-divider > div.grey {
  border-color: #DDDDDD;
}

.os-roles-table {
  width: 920px;
}

.os-roles-table .os-pointer-cursor:hover{
  color: #27AAE1;
}

.os-table .os-table-head .row .col,
.os-table .os-table-body .row .col {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #DDDDDD;
}

.os-table .os-table-head .row .col:first-of-type,
.os-table .os-table-body .row .col:first-of-type {
  padding-left: 25px;
}

.os-table .os-table-head .row .col:last-of-type,
.os-table .os-table-body .row .col:last-of-type {
  padding-right: 25px;
}


.os-table .os-table-body .row .col {
  background-color: #FFFFFF;	
}

.os-table .os-table-head .row .col {
  vertical-align: bottom;
  border-bottom: 1px solid #DDDDDD;
  font-weight: bold;
  background-color: #DEDEDC;
}

.os-table .os-table-head .row:first-child .col {
  border-top: 0;
}

.os-table-muted-hdr > .os-table-head > .row > .col {
  font-size: 12px;
  border-bottom: 0px;
}

.os-table .col .progress {
  margin-bottom: 0px;
}

.os-table-fixed {
  table-layout: fixed;
}

.os-table-fixed td,
.os-table-fixed .col {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.os-table-tree a.fa-chevron-circle-down, 
.os-table-tree a.fa-chevron-down, 
.os-table-tree a.fa-caret-down, 
.os-table-tree a.fa-chevron-circle-right,
.os-table-tree a.fa-chevron-right,
.os-table-tree a.fa-caret-right,
.os-table-tree a.fa-minus-square-o, 
.os-table-tree a.fa-plus-square-o {
  text-decoration: none;
}

.os-table .row.selected {
  background: #ffc;
}

.os-table-fixed td .alert, 
.os-table-fixed .col .alert {
  padding: 4px 1px;
  white-space: normal;
}

.os-table-condensed .os-table-head .row .col, 
.os-table-condensed .os-table-body .row .col {
  padding: 5px!important;
}

.os-table-borderless .os-table-body .row .col {
  border: 0px!important;
}
