<div>
  <div os-page-header>
    <h3>
      <span translate="role.list">Roles</span>
    </h3>
    <div class="os-btns right">
      <button show-if-admin class="primary" title="{{'role.tooltip.add' | translate}}"
        ui-sref="role-addedit({roleId:''})">
        <span translate="common.buttons.create">Create</span>
        <span class="icon icon-icons-create-button"></span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="os-table os-border os-roles-table">
      <div class="os-table-head">
        <div class="row">
          <div class="col os-col-25" translate="role.name">Name</div>
          <div class="col os-col-5 os-vertical-divider"><div></div></div>
          <div class="col os-col-70" translate="role.description">Description</div>
        </div>
      </div>
      <div class="os-table-body">
        <div ng-repeat="role in roles">
          <div class="row os-pointer-cursor" ng-click="showRoleOverview(role)"
            title="{{'role.tooltip.view_details' | translate}}">
            <div class="col os-col-25">{{role.name}}</div>
            <div class="col os-col-5 os-center"><span class="icon icon-icons-right-arrow"></span></div>
            <div class="col os-col-70">{{role.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

